




#txt_NombreUsuario, #txt_Password, #btn_Login, #btnUsuarioo {
    border-radius: 25px;
}

    #txt_NombreUsuario:hover, #txt_Password:hover, #btn_Login:hover {
        border: 2px solid green;
    }



#btn_Login {
    background-color: green;
    color: white;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    background-image: url(Imagenes/HEbarra.png);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: rotacion 5s linear infinite;
    background-size: cover;
    border: 2px solid black;
    box-shadow: -20px -30px 20px inset;
    margin: 50px;
}

.logoNavbar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(Imagenes/logo_rotate02.jpeg);
    position: relative;
    animation: rotacion 5s linear infinite;
    background-size: cover;
    border: 1px solid black;
    box-shadow: -5px -5px 5px inset;
}

@keyframes rotacion {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.boxLogo {
    display: flex;
    justify-content: center;
}

/* EXPAND */
#logoNavbar02 {
    width: 50px;
    height: 50px;
}

#letrasNavbar {
    position: absolute;
    width: 0;
    height: 50px;
    transition: 0.5s;
}

#divLogoNavbar:hover #letrasNavbar {
    width: 100px;
    height: 50px;
    transition: 0.5s;
}

.boxNavbar {
    display: flex;
    align-content: flex-start;
}

