

body {
}



#txt_NombreUsuario, #txt_Password, #btn_Login, #btnUsuarioo {
    border-radius: 25px;
}

    #txt_NombreUsuario:hover, #txt_Password:hover, #btn_Login:hover {
        border: 2px solid green;
    }

input:focus {
    background-color: greenyellow;
    border: 2px solid green;
}

#btn_Login {
    background-color: green;
    color: white;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(Imagenes/logo_rotate02.jpeg);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: rotacion 5s linear infinite;
    background-size: cover;
    border: 2px solid black;
    box-shadow: -20px -30px 20px inset;
    margin: auto;
}

.logoNavbar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(Imagenes/logo_rotate02.jpeg);
    position: relative;
    animation: rotacion 5s linear infinite;
    background-size: cover;
    border: 1px solid black;
    box-shadow: -5px -5px 5px inset;
}

@keyframes rotacion {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.boxLogo {
    display: flex;
    justify-content: center;
}

/* EXPAND */
#logoNavbar02 {
    width: 50px;
    height: 50px;
}

#letrasNavbar {
    position: absolute;
    width: 0;
    height: 50px;
    transition: 0.5s;
}

#divLogoNavbar:hover #letrasNavbar {
    width: 100px;
    height: 50px;
    transition: 0.5s;
}

.boxNavbar {
    display: flex;
    align-content: flex-start;
}


/*BOUNCE*/

#divImgLogo {
  /*height: 500px;
  width: 500px;*/
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#logo07 {
    position: relative;
    width: 100px;
    height: 100px;
    /*top: 100px;
    left: 220px;*/
    animation: bounce 0.9s infinite;
    margin:0;
    z-index: 2;
}

@keyframes bounce {
    10% {
        height: 100px;
        width: 100px;
    }
    30% {
        height: 100px;
        width: 100px;
    }
    50% {
        height: 75px;
        width: 120px;
        transform: translateY(200px);
    }
    75% {
        height: 100px;
        width: 120px;
    }
    100% {
        transform: translateY(0px);
    }
}

.bounce {
    width: 150px;
    height: 500px;
}

.shadow {    
    background-color: grey;
    height: 20px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 260px;
    left: 22px;
    z-index: 1;
    animation: shrink 0.9s infinite;
   
}

@keyframes shrink {
    50% {
        transform: scaleX(0.5);
    }
}


