################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/HayEquipo/.vs/HayEquipo/v14
HayEquipo/.vs/HayEquipo/v14/.suo
HayEquipo/CapaDao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
