body {

 


}

#LoginBox{
    text-align:right;

}

 /* Set black background color, white text and some padding */
        footer {
            background-color: #000000;
            color: white;
            padding: 15px;
        }

        .jumbotron {
            background-color: white;
            color: #000000;
            padding: 100px 25px;
            font-family: Montserrat, sans-serif;
        }
        /* segundo commit  */
        body {
            background-color: #0b3107;
        }

        .fondo {
            overflow: hidden;
            background-color: #525252;
        }
